.business{
    background-color: var(--color-black);
    padding: 60px 0 70px;

    &__content{
        display: grid;
        grid-template-columns: 583px 535px;
        column-gap: 80px;
    }

    &__left{
        align-self: center;

        &__heading{
            color: var(--color-white);
            margin-bottom: 9px;
        }

        &__text{
            color: var(--color-grayb5);
            margin-bottom: 41px;
        }
    }

    &__button{
        padding: 12px 20px 12px 25px;
    }
}