.features{
    &__content{
        display: flex;
        align-items: center;
        gap: 64px 85px;
    }

    &__left{
        max-width: 666px;
    }

    &__right{
        max-width: 548px;
        .text--normal{
            margin: 28px 0 51px;
        }

        .text--normal::after{
            position: relative;
            left: 11px;
            bottom: 3px;
            content: "  ";
            height: 2px;
            width: 27px;
            background-color: var(--color-primary);
            display: inline-block;
            
        }

        .button{
            padding: 16px 58px 17px;
            font-size: 16px;
        }

    }

    @include maxWidth(1023px){
        &__content{
            flex-direction: column;
        }
        &__left{
            width: 350px;
            height: 353px;
        }

        &__container{
            max-width: 296px;
            margin: 0 auto;
        }
        &__right{
            max-width: 327px;

            .text{
                font-size: 1.4rem;
                line-height: calc(24 / 14);
            }
            .text--normal{
                margin: 22px 0 49px;
                font-size: 1.4rem;
                line-height: calc(26 / 14);
            }
            .button{
                width: 327px;
                justify-content: center;
            }
        }

        &__heading{
            font-size: 3rem;
            line-height: calc(40 / 30);
            margin-bottom: 12px;
        }
    }
}