.footer{
    background-color: var(--color-black);
    padding: 70px 0 82px;

    &__logo--top{
        display: none;
    }

    &__heading{
        color: var(--color-white);
        margin-bottom: 14.82px;
    }

    &__text{
        max-width: 340px;
        color: var(--color-grayb5);
        margin: 0 auto 35.18px;
    }

    &__button > a{
        padding: 5px 22px 5px 20px;
        gap: 0 11px;
        & > p{
            line-height: calc(48 / 18) !important;
        }
    }

    &__bottom{
        margin-top: 76px;
        display: flex;
    }
    
    &__bottom{
        color: var(--color-grayb5);
    }

    &__introduce{
        max-width: 280px;
    }

    &__desc{
        margin: 31px 0 15px;
    }

    &__title{
        margin-bottom: 22px;
        color: var(--color-white);
    }

    &__about{
        margin: 0 69px 0 113px;
    }

    &__ingraince{
        margin-left: 113px;
        max-width: 239px;
    }

    &__menu{
        word-break: break-all;
        &--link{
            line-height: calc(48/ 18);
            transition: color .2s linear;
            &:hover{
                color: var(--color-white);
            }
        }
    }

    &__menu-icon{
        display: none;
        justify-content: end;
        margin-right: 25px;
        margin-top: 61px;
    }
    @include maxWidth(1023px){
        padding: 75px 0 36px;

        &__logo--top{
            text-align: center;
            img{
                display: inline;
            }
            display: block;
        }

        &__heading{
            font-size: 3rem;
            line-height: calc(38 / 30);
            margin: 20px 12px;
        }

        &__text{
            max-width: 265px;
            margin: 0 auto 28px;
            font-size: 1.4rem;
            line-height: calc(17 / 14);
        }

        &__bottom{
            display: none;
        }

        &__menu-icon{
            display: flex;
        }
    }
}