.footer{
    background-color: var(--color-black);
    padding: 70px 0 82px;

    &__heading{
        color: var(--color-white);
        margin-bottom: 14.82px;
    }

    &__text{
        max-width: 340px;
        color: var(--color-grayb5);
        margin: 0 auto 35.18px;
    }

    &__button > a{
        padding: 5px 28px 5px 20px;
        gap: 0 11px;
        & > p{
            line-height: calc(48 / 18) !important;
        }
    }
}