
.header{
    position: relative;
    padding-top: 48px;
    margin-bottom: 360px;
    background-color: var(--color-black);
    max-height: 891px;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu{
        display: flex;
        gap: 0 35px;
        padding-inline-start: 0;
        list-style: none;

        @include maxWidth(1023px){
            display: none;
        }
    }
    
    &-menu__item{
        position: relative;

        &:hover{
            a{
                color: var(--color-white);
            }

            &::after{
                width: 100%;
            }
        }
        a{  
            transition: color ease .3s;
        }

        &::after{
            content: " ";
            background: linear-gradient(93.52deg, #E6FF4B 8.71%, #00BD82 98.16%);
            width: 0%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .2s ease;
        }
    }

    &__login{
        font-size: 1.6rem;
        color: var(--color-white);
        padding: 9px 25px;
        line-height: 1.625;
        background-color: rgba(var(--color-gray-opacity), .2); //rgba just apply var() with --color-grayb5-opacity in format of rgb color
        border-radius: 6px;
        transition: all .2s linear;

        p{
            width: 50px;
        }
        &:hover{
            background-color: rgba(var(--color-gray-opacity), 1);
           color: var(--color-black);
        }
    }

    &__content{
        max-width: 837px;
        margin: 83px auto 88px auto;
    }

    &__heading{
        font-size: 5.2rem;
        line-height: calc(62 / 52);
        text-align: center;
    }

    &__buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 54px;
        gap: 0 30px;
    }

    &__started{
        font-size: 1.8rem;
        padding: 14.5px 30px;
    }

    &__works{
        display: flex;
        align-items: center;
        gap: 0 17px;
        font-size: 1.8rem;
        color: var(--color-white);
        line-height: calc(48 / 18);
    }

    &__image{
        height: 553px;
        width: 1119px;
        margin: 0 auto;
    }

    &__toggle{
        display: none;
    }

    .trigger:checked ~ .overlap{
        display: block;
    }

    .trigger:checked ~ &__menu--mobile{
        transform: translateX(0%);
    }

    .overlap{
        position: fixed;
        width: 100vw;
        height: 100vh;
        bottom: 0;
        top: 0;
        left: 0;
        background-color: var(--color-black);
        opacity: .7;
        z-index: 1;
        display: none;
    }
    
    &__menu--mobile{
        display: none;
        position: fixed;
        background-color: var(--color-black);
        width: 70%;
        z-index: 1;
        right: 0;
        top: 0;
        bottom: 0;
        transform: translateX(100%);
        transition: all .3s ease-in;
        .close{
            color: var(--color-grayb5);
            position: absolute;
            top: 25px;
            right: 5px;
            right: 0;
            font-size: 3rem;
            padding: 15px;
        }

        ul{
            padding: 25px 50px 25px 25px;
        }
        li, .logout{
            font-size: 2.5rem;
            margin: 20px 0;
        }

        .logout{
            color: var(--color-grayb5);
            padding-left: 25px;
        }

    }
    @include maxWidth(1023px){
        margin-bottom: 136px;
        max-height: 572px;

        &__menu--mobile{
            display: block;
        }

        &__top{
            padding: 0 7px;
        }

        .logo{
            font-size: 1.4rem;
            line-height: 1;
            gap: 0 12px;
        }

        &__logo{
            width: 17px;
            height: 15px;
        }

        &__login{
            padding: 7px 30px;
            font-size: 1.2rem;
            line-height: calc(18 / 12);

            p{
                width: 36px;
            }
        }

        &__content{
            max-width: 281px;
            margin: 55px auto 64px auto;
        }

        &__heading{
            font-size: 3rem;
            line-height: calc(40 / 30);
            text-align: center;
        }

        &__buttons{
            margin-top: 35px;
            gap: 0 20px;
        }

        &__works{
            span{
                display: none;
            }
        }

        &__started{
            font-size: 1.4rem;
            padding: 11px 19px 12px 20px;
            line-height: calc(18 / 14);
        }

        &__image{
            height: 175px;
            width: 355px;
            transform: translateX(-1%);
        }

        &__toggle{
            display: block;
        }
    }
}