.library{
    margin-bottom: 140px;
    &__heading{
        margin-bottom: 10px;
    }

    &__text{
        max-width: 326px;
        margin: 0 auto;
    }

    &__pagination{
        margin: 32px 0 86px;
        text-align: center;
        & > a{
            padding: 12px 25px 13px;
            margin-bottom: 0;
        }

        &--active, & > a:hover{
            background-color: var(--color-black);
            color: var(--color-primary-darkYellow);
        }
    }

    &__content{
        max-width: 1010px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 320px);
        column-gap: 22.5px;
    }

    &__item{
        cursor: pointer;
        border-radius: 22.7px;
        overflow: hidden;
        padding-bottom: 25px;

        &:hover{
            background-color: var(--color-white);
        }
    }

    &__image{
        width: 100%;
        height: 227.17px;
        border-bottom-left-radius: 22.7px;
        border-bottom-right-radius: 22.7px;
        overflow: hidden;
    }

    &__topic{
        font-size: 1.7rem;
        line-height: calc(22 / 17);
        color: var(--color-primary);
        margin: 15.5px 0 8px;
    }

    &__desc{
        font-size: 2.2rem;
        line-height: calc(32 / 22);
        color: var(--color-black);
        max-width: 200px;
        margin: 0 auto;
    }

    &__update{
        margin-top: 37.5px;
        text-align: center;

        a{
            padding: 15px 18px 12px 33.5px;
            gap: 0 21px;
            p{
                font-size: 1.6rem;
                line-height: calc(26 / 16);
            }
        }
    }

    @include maxWidth(1023px){
        margin-bottom: 83px;

        &__heading{
            font-size: 3rem;
            line-height: calc(40 / 30);
            max-width: 262px;
            margin: 0 auto;
        }

        &__text{
            max-width: 256px;
            font-size: 1.4rem;
            line-height: calc(24 / 14);
        }

        &__pagination{
            margin: 40px 0 86px;
            & > a{
                padding: 10px 15px;
            }
        }

        &__content{
            max-width: 320px;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            row-gap: 40px;
        }

        &__item:last-child{
            background-color: var(--color-white);
        }

        &__update{
            margin-top: 50px;
            a{  
                width: 320px;
                padding: 18px 18px 19px 33.5px;
                gap: 0 26px;
                p{
                    font-size: 1.5rem;
                    line-height: calc(19 / 15);
                }
            }
        }
    }
}