.newsletter{
    margin-top: 140px;
    margin-bottom: 66px;

    &__header{
        margin-bottom: 95px;
        .heading{
            max-width: 630px;
            margin: 0 auto 18px;
        }

        .text{
            max-width: 470px;
            margin: 0 auto;
        }
    }

    &__main{
       display: flex;
       justify-content: end;
       align-items: center;
       gap: 0 104px
    }

    &__top{
        max-width: 508px;

        .heading{
            max-width: 380px;
        }
    }

    &__content{
        flex-shrink: 0;
        width: 555px;
    }

    &__image{
        flex-shrink: 0;
        max-width: 648px;
    }

    &__list{
        margin-top: 37px;
        display: flex;
        gap: 0 74px;
    }

    &__item{
        max-width: 265px;
        display: flex;
        flex-direction: column;
        .item-logo{
            color: var(--color-white);
            background-color: var(--color-primary);
            margin-bottom: 26px;
        }

        .item-content{
            margin-bottom: 28px;
            .heading{
                margin-bottom: 10px;
                line-height: auto;
            }
        }

        .item-link{
            margin-top: auto;
            a{
                color: var(--color-black);
                transition: border-bottom .2s ease-in;
                &:hover{
                    border-bottom: 2px solid var(--color-primary);
                }
            }
        }
    }

    @include maxWidth(1023px){
        margin: 61px 0;

        &__header{
            margin-bottom: 61px;
            .heading{
                max-width: 313px;
                margin: 0 auto 12px;
                font-size: 30px;
                line-height: calc(40 / 30);
            }
    
            .text{
                max-width: 237px;
                margin: 0 auto;
            }
        }

        &__main{
            flex-direction: column-reverse;
            align-items: center;
            gap: 45px 0;
        }

         &__content{
            flex-shrink: 0;
            width: 288px;
        }

        &__top{
            max-width: 288px;
    
            .heading{
                max-width: 244px;
                font-size: 2.4rem;
                line-height: calc(34 / 24);
                margin-bottom: 9px;
            }

            .text{
                font-size: 14px;
                line-height: calc(24 / 14);
            }
        }

        &__image{
            align-self: flex-end;
            max-width: 322px;
        }

        &__list{
            margin-top: 65px;
            flex-direction: column;
            gap: 69px 0;
        }

        &__item{

            .item-logo{
                color: var(--color-black29);
                background-color: var(--color-grayef);
                margin-bottom: 19px;
            }
    
            .item-content{
                .heading{
                    margin-bottom: 9px;
                }
            }
    
            .item-link{
                a{
                    color: #000;
                }
            }
        }
        
    }
}